[all:vars]
ansible_user=ubuntu
ansible_port=22
ansible_become=yes
ansible_become_method=sudo
ansible_python_interpreter=/usr/bin/python3

# ## Configure 'ip' variable to bind kubernetes services on a
# ## different ip than the default iface
# ## We should set etcd_member_name for etcd cluster. The node that is not a etcd member do not need to set the value, or can set the empty string value.
[all]
k8s-control-plane-0 ansible_host=192.168.0.1 etcd_member_name=etcd1
k8s-node-0 ansible_host=192.168.0.2 etcd_member_name=etcd2
k8s-node-1 ansible_host=192.168.0.3 etcd_member_name=etcd3

# ## configure a bastion host if your nodes are not directly reachable
# bastion ansible_host=x.x.x.x ansible_user=some_user

[kube_control_plane]
k8s-control-plane-0

[etcd]
k8s-control-plane-0
k8s-node-0
k8s-node-1

[kube_node]
k8s-node-0
k8s-node-1


[k8s-cluster:children]
kube_control_plane
kube_node

[kubespray:children]
kube_control_plane
kube_node
